include ./inline-svg/svg-logo
include ./inline-svg/svg-facebook
include ./inline-svg/svg-instagram
include ./inline-svg/svg-twitter
include ./inline-svg/svg-gplay
include ./inline-svg/svg-appstore

include ./components/navigation
include ./components/feature-text
include ./components/feature