.feature {
  &__img {
    @include size(100%, 58);

    @include respond-below(sm) {
      height: 36rem;
    }

    &--1 {
      background: iurl('beActive.jpg') no-repeat;
      background-size: cover;
    }

    &--2 {
      background: iurl('findContact.jpg') no-repeat;
      background-size: cover;
    }

    &--3 {
      background: iurl('workIt.jpg') no-repeat;
      background-size: cover;
    }
  }

  &__container {
    padding: 0 $padding-md;
    margin-top: -6rem;

    @include respond-below(sm) {
      padding: 0 $padding-sm;
      margin-top: -4rem;
    }
  }

  .counter {
    padding: 3rem 3.5rem;
    margin-bottom: 2.5rem;

    @include respond-below(sm) {
      padding: 2rem 2.5rem;
    }
  }

  &__heading {
    margin-bottom: 1.5rem;
  }

  .paragraph {
    margin-bottom: 3rem;
  }

  .accent__line {
    width: 2.2rem;
    margin-bottom: 7rem;
  }

  &--desktop {
    height: 100%;
    display: grid;
    grid-template-columns: 55% 1fr;
    column-gap: 7%;

    &__text {
      height: 100%;
      display: grid;
      align-content: center;
    }

    &__heading {
      position: relative;
      margin-bottom: 9rem;

      .counter {
        @include absolute(top 0 left -4rem);
        transform: translate(-100%, -33%);
      }
    }

    .counter {
      padding: 4.5rem 5rem;
    }

    .paragraph {
      margin-bottom: 11rem;
    }

    .accent__line {
      margin-bottom: 0;
    }
  }
}
