// ***** BASIC RESET *****
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// ----------------------------------------------

// ***** GLOBAL DEFINITION OF 1rem *****
html {
  font-size: 62.5%; // ~10px
}

// ----------------------------------------------

body {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  background-color: $color-white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

::selection {
  background-color: $color-selection;
  color: $color-secondary;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 6rem;
}

.cover {
  @include size(100%);
  @include absolute(top 0 left -120%);
  background: $color-primary-dark;
  transform: skew(-10deg);
}
