.u-text-white {
  color: $color-white;
}

.u-text-grey-light {
  color: $color-grey;
}

.u-text-grey-dark {
  color: $color-grey-dark;
}

.u-text-primary {
  color: $color-primary;
}

.u-text-primary-light {
  color: $color-primary-light;
}
