// ***** COLORS *****
$color-selection: #ae9ae3;
$color-selection-text: #090c35;

// ----------------------------------------------

// ***** FONT WEIGHTS *****
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// ----------------------------------------------

// ***** FONT SIZES *****
$font-size-base: 1.6rem;
