.features {
  grid-area: features;
  @include size(100%, 100vh);
  overflow: hidden;

  @include respond-below(lg) {
    height: auto;
  }

  &__container {
    height: 100vh;
    padding-left: 0;
    padding-right: $padding-lg;
  }

  .feature {
    display: none;
  }

  @include respond-below(lg) {
    &__container {
      height: auto;
      padding: 0;
    }

    .feature {
      display: block;
    }

    .feature--desktop {
      display: none;
    }
  }
}
