.players {
  @include size(100%, 100vh);
  grid-area: players;
  position: relative;

  @include respond-below(md) {
    height: auto;

    .feature-text:last-of-type {
      background-color: $color-secondary;
    }
  }

  &::before,
  &::after {
    z-index: -1;
    content: '';
    display: block;
    @include size(100%, 28%);
    width: 100%;

    @include respond-below(md) {
      display: none;
    }
  }

  &::before {
    background-color: $color-tertiary;
    @include absolute(bottom 28%);
  }

  &::after {
    background-color: $color-secondary;
    @include absolute(bottom 0);
  }

  &__container {
    height: 100vh;
    display: grid;
    grid-template-columns: 48% 52%;
    grid-template-rows: 16% 1fr;
    grid-template-areas:
      'pHeading pImg'
      'pTexts pImg';
    align-items: center;
    padding: 0 $padding-lg;

    @include respond-between(md, lg) {
      grid-template-columns: 65% 35%;
      padding-right: 0;
      padding-left: $padding-lg;
    }

    @include respond-below(md) {
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto minmax(28rem, 35rem) 1fr;
      grid-template-areas:
        'pHeading'
        'pImg'
        'pTexts';
      padding: 0;
    }

    @include respond-below(sm) {
      padding: 0;
    }
  }

  &__heading {
    grid-area: pHeading;
    height: 100%;
    display: flex;
    align-items: flex-end;

    @include respond-below(md) {
      align-items: center;
      padding: 2rem $padding-md 0;
    }
  }

  &__feature-texts {
    grid-area: pTexts;
    height: 100%;
  }

  &__img {
    grid-area: pImg;
    height: 90%;
    background: iurl('basket-player.png') no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;

    @include respond-between(md, lg) {
      background: 0;
      position: relative;

      &::before {
        content: '';
        display: block;
        @include size(150%, 100%);
        @include absolute(left -50%);
        background: iurl('basket-player.png') no-repeat;
        background-size: 190%;
        background-position: 0 51%;
        z-index: 2;
      }
    }

    @include respond-below(md) {
      background-size: contain;
      height: 100%;
      background-position: 55% 50%;
      margin: 0 $margin-md;
    }

    @include respond-below(sm) {
      margin: 0 $margin-sm;
    }

    .accent {
      &__plus {
        &:nth-child(1) {
          top: 18%;
          left: 13%;

          @include respond-between(md, lg) {
            top: 25%;
            left: 43%;
          }
        }

        &:nth-child(2) {
          top: 48%;
          left: 74%;

          @include respond-between(md, lg) {
            left: 44%;
          }
        }

        &:nth-child(3) {
          top: 22%;
          left: 15%;
        }

        &:nth-child(4) {
          top: 52%;
          left: 78%;

          @include respond-between(md, lg) {
            left: 58%;
          }
        }
      }

      &__line {
        @include absolute(top 45% left 10%);
        z-index: -1;
        transform: rotate(-40deg);

        @include respond-between(md, lg) {
          display: none;
        }

        @include respond-below(md) {
          width: 80%;
        }
      }
    }
  }
}
