mixin svg-gplay
  svg(width='38', height='40', viewbox='0 0 38 40', fill='white')
    path(d='M24.4186 18.3083L7.17309 1.01582L29.1149 13.612L24.4186 18.3083V18.3083ZM2.67221 0C1.65638 0.531354 0.976562 1.50029 0.976562 2.75835V37.2417C0.976562 38.4997 1.65638 39.4686 2.67221 40L22.723 19.9961L2.67221 0ZM35.8974 17.6284L31.295 14.9639L26.1612 20.0039L31.295 25.044L35.9912 22.3794C37.3977 21.262 37.3977 18.7459 35.8974 17.6284V17.6284ZM7.17309 38.992L29.1149 26.3958L24.4186 21.6996L7.17309 38.992Z')
