mixin svg-facebook(myClass)
  svg(class=`${myClass}`, width='44', height='44', fill='none')
    path(d='M44 4.714v34.572A4.715 4.715 0 0139.286 44h-8.378V26.596h5.952l.854-6.639h-6.806v-4.243c0-1.925.53-3.231 3.29-3.231h3.516V6.551c-.609-.079-2.69-.265-5.127-.265-5.067 0-8.544 3.093-8.544 8.78v4.901H18.07v6.64h5.982V44H4.714A4.716 4.716 0 010 39.286V4.714A4.716 4.716 0 014.714 0h34.572A4.716 4.716 0 0144 4.714z', fill='#fff')

