mixin svg-appstore
  svg(width='34', height='40', viewbox='0 0 34 40', fill='white')
    path(d='M18.8614 9.42175C18.3077 9.59143 17.495 9.73432 16.3697 9.83255C16.468 4.76892 19.04 1.20563 24.2286 0C25.0592 3.71511 21.8977 8.40366 18.8614 9.42175V9.42175ZM29.6941 15.9143C30.2657 15.0748 31.1766 14.1371 32.4269 13.0833C30.4354 10.6184 28.1313 9.12704 24.827 9.12704C21.6655 9.12704 19.0042 10.7524 17.0574 10.7524C15.4052 10.7524 12.4224 9.31458 9.51105 9.31458C3.29538 9.31458 0 15.3963 0 21.7281C0 28.7653 5.33155 40 10.7345 40C12.86 40 14.7712 38.3925 17.2985 38.3925C19.9152 38.3925 22.0138 39.9286 24.4697 39.9286C28.5778 39.9286 32.3822 33.0074 33.5789 29.2387C29.3994 27.9616 26.0415 21.1833 29.6941 15.9143Z')
