//- PUG INCLUDES
include ./includes/main

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Surface - For Athlets And Coaches
  body.homePage
    //- Used only for the animations
    .cover

    +navigation

    header.header
      .header__container.container
        a(href="#").header__logo-wrapper
          +svg-logo('header__logo-svg')
          p.header__logo-brand Surface
        .header__social
          a(href="#").header__social-item
            +svg-facebook('.header__social__facebook')
          a(href="#").header__social-item
            +svg-instagram('.header__social__instagram')
          a(href="#").header__social-item
            +svg-twitter('.header__social__twitter')
        .header__main
          .header__heading
            h3.header__sub-heading.heading-tertiary For athlets and coaches
            h1.header__main-heading.heading-primary.u-text-white Be recruited
            h1.header__main-heading.heading-primary.u-text-white Play college sports
            ul.header__list
              li.heading-tertiary.header__item Football
              li.heading-tertiary.header__item Basketball
              li.heading-tertiary.header__item Baseball
              li.heading-tertiary.header__item Soccer
              li.heading-tertiary.header__item Ice hockey
          .header__photo
            .header__photo__bg
            img(src=require("./img/soccer-player.png"), alt="Soccer player man").header__photo__img
            
      

