mixin navigation
  nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#athlets") 
            span.nav__text Athlets
        li.nav__item
          a.nav__link(href="#players") 
            span.nav__text Players
        li.nav__item
          a.nav__link(href="#features") 
            span.nav__text Features
        li.nav__item
          a.nav__link(href="#download") 
            span.nav__text Download